@model WebApp.NET_MVC_2022_12D_PP_Encuestadora.Models.Encuesta

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Encuesta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EncuestaId" class="form-control" />
            <div class="form-group">
                <label asp-for="tituloEncuesta" class="control-label"></label>
                <input asp-for="tituloEncuesta" class="form-control" />
                <span asp-validation-for="tituloEncuesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datetimeCreacionEncuesta" class="control-label"></label>
                <b>@Html.DisplayFor(model => model.datetimeCreacionEncuesta)</b>
                <input type="hidden" asp-for="datetimeCreacionEncuesta" class="form-control" />
                <span asp-validation-for="datetimeCreacionEncuesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datetimeVencimientoEncuesta" class="control-label"></label>
                <b>@Html.DisplayFor(model => model.datetimeVencimientoEncuesta)</b>
                <input type="hidden" asp-for="datetimeVencimientoEncuesta" class="form-control" />
                <span asp-validation-for="datetimeVencimientoEncuesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="puntosEncuesta" class="control-label"></label>
                <b>@Html.DisplayFor(model => model.puntosEncuesta)</b>
                <input type="hidden" asp-for="puntosEncuesta" class="form-control" />
                <span asp-validation-for="puntosEncuesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <b>@ViewBag.cliente.nombreCliente</b>
                <input type="hidden" asp-for="Cliente" class="form-control" value="@ViewBag.cliente" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="ClienteId" class="control-label"></label>*@
                <input type="hidden" asp-for="ClienteId" class="form-control" value="@ViewBag.cliente.ClienteId" />
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                <a href="/Cliente/Details/@ViewBag.cliente.ClienteId">Volver al Cliente</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
